__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
venv_3d_pipeline/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

data/*.avi
data/*.mov



.cache/
*.pth
*.log

.ipynb_checkpoints/

dist/
build/
*.egg-info/