__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
venv_3d_pipeline/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

data/frames/
data/*.mp4
data/*.avi
data/*.mov

data/global_cloud.ply
data/clean_cloud.ply
data/mesh.ply
data/mesh.obj

.cache/
*.pth
*.log

.ipynb_checkpoints/

dist/
build/
*.egg-info/